body{
background-color:#EEEEEE;
margin:0;
font-family: europa;
font-size: 18px;

}

.subtitle
{
	
	text-transform: uppercase;
	padding-left : 20px;
	padding-bottom : 20px;
	margin-left: 80px;
	margin-top:30px;
	font-size: 1.2 rem;
	 font-weight: 600;
}
#date
{
	  padding: 12px 12px;
	float:right;
	padding:20px;
	margin-right:85px;
	text-transform:uppercase;
}

.menu
{
	text-transform: uppercase;
	margin-left: 80px;
}

.navbar {
    text-align: left;
    height: 70px;
    width: 100%;
    font-weight: 400;
    background-color: #191919;
    

}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:60px;
  color: white;
   
}

.navbar ul li {
  margin-top:8px;
  
}

.navbar ul li a {
  color: white;
  text-align: center;
  padding: 14px 14px;
  
  float:left;
   
}

a:link {
 color:black;
  text-decoration:none;
}
a:visited {
  color: black;
}
a:hover {
  color: green;;
  font-weight:bold;
}

.navbar ul li a:hover {
	
  background-color:#5cc72a;
  padding: 14px 14px;
  text-decoration: none;
  
}
#search
{
	float:right;
	width:450px;
	
	
}

select
{
	position: relative;
    display: inline-block;
    text-align:center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	
	padding:11px 11px;
	
  display: inline-block;
  
}

 #datep
{
	
	background-color:#FAFAFA;
}

#logoimg
{
	float:left;
	height:60px;
	
	
}
img{
	
}


#my_dataviz {
	
	margin-left: 80px;
		margin-top: 30px;
  
}

#cases {
  
  border-collapse: collapse;
   width: 85%;
   margin-left: auto;
  margin-right: auto;
   font-size: 1rem;
    border-radius: 18px;
   border: 0px solid ;
    
}


#cases td, #cases th 
{
  border: 1px solid #ddd;
  padding: 8px;
  max-width:150px;
   
}

 #cases th 
{
	background-color: #E1E1E1;;  
}


#cases tr:nth-child(odd)
{
	background-color: #FAFAFA;
}

#cases tr:nth-child(even)
{
	background-color: #FFFFFF;
}


#cases th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color:black;
  text-transform:uppercase;
  cursor: pointer;
  position: relative;
  
}


 
input[type=text] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  margin-right:20px;
  float:right;
}

input[type=submit] {
  background-color:#83b633;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #5cc72a;
}
.container {
  border-radius: 5px;
  
  width:50%;
  background-color: #c9c0bb;
  padding: 14px;
}